<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movies</title>
</head>
<style>
    .button {
        display: table;
        width: 50px;
        height: 5px;
        background: white;
        border: 2px solid black;
        color: black;
        text-align: center;
    }
</style>
<script>
    let request = new XMLHttpRequest();

    //Функция добавления фильма
    function addMovie(movieName) {
        let body = {
            "movieName": movieName
        };
        request.open('POST', '/movies', false)
        request.setRequestHeader("Content-Type", "application/json");
        request.send(JSON.stringify(body))
    }

    //Функция получения фильмов, отправляет null json объект
    //Контроллер на null ничего не делает а только возвращает список фильмов
    function getAllMovies() {
        request.open('POST', '/movies', false)
        request.setRequestHeader("Content-Type", "application/json");
        request.send(JSON.stringify({}))
        let html = '<tr>' +
            '<th>Id</th>' +
            '<th>Name</th>' +
            '</tr>';
        let response = JSON.parse(request.response)
        for (let i = 0; i < response.length; i++) {
            html += '<tr>';
            html += '<td>' + response[i]['id'] + '</td>';
            html += '<td style="width: 140px; text-align: center";">' + response[i]['movieName'] + '</td>';
            html += '<td>' + '<a href="/movies/' + response[i]['id'] + '/actors" class="button">EDIT</>';
            html += '</tr>'
        }
        document.getElementById('movieTable').innerHTML = html;
    }

    //Метод очищает строку ввода после нажатии на кнопку отправить.
    function clearTextField() {
        document.getElementById('movieName').value = "";
    }
</script>
<body onload="getAllMovies()">
<div>
    <h1 align="center">Movies</h1>
</div>
<div>
    <label for="movieName">Please enter movie name:</label>
    <input id="movieName" name="movieName" placeholder="Example:The Grandfather">
    <button type="button" onclick="addMovie(document.getElementById('movieName').value);
                                   getAllMovies();
                                   clearTextField()">Add
    </button>
</div>
<br>
<div>
    <table id="movieTable"></table>
</div>
</body>
</html>
